body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  overflow-x: hidden;
}
h1 {
  margin: 2em 0 1.5em 0;
}
#title{
  margin: 100px;
}
/*메뉴바*/
nav {
  width: 100%;
  display: flex;
  justify-content: center;
  position: relative;
  background: black;
  z-index: 1;
}
ul, li {
  margin: 0;
  padding: 0;
  list-style: none;
}
#main_menu>li {
  float: left;
  position: relative;
}
#main_menu>li>a {
  font-size: 0.75rem;
  color: antiquewhite;
  text-align: center;
  font-weight: bolder;
  text-decoration: none;
  letter-spacing: 0.05em;
  /* 글자 사이 간격 조절 */
  display: block;
  padding: 14px 50px;
  border-right: 1px solid antiquewhite;
}
#main_menu>li:nth-child(1)>a {
  /* 메뉴 사이에 선 추가 */
  border-left: 1px solid antiquewhite;
}
#sub_menu {
  position: absolute;
  font-weight: bolder;
  font-size: 0.75rem;
  background: black;
  opacity: 0;
  visibility: hidden;
  transition: all 0.15s ease-in;
}
#sub_menu>li {
  padding: 16px 50px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
}
#sub_menu>li>a {
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
}
#main_menu>li:hover #sub_menu {
  opacity: 1;
  visibility: visible;
}
#sub_menu>li>a:hover {
  background-color: rgb(66, 66, 66);
  color: antiquewhite;
}
.black_box{
  display: flex;
  justify-content: center;
  background-color: black;
  margin: 20px;
  width: 100%;
}
fieldset {
  width: 100%;
  border: none;
  margin: 60px 0 0 0;
}
legend {
  background-color: rgb(59, 59, 59);
  color: antiquewhite;
  height: 60px;
  width: 100%;
  font-weight: bolder;
  font-size: 20px;
  line-height: 60px;
  text-align: center;
}
tr>td {
  position: relative;
  height: 50px;  
}

#contact tr>td:nth-child(1) {
  background-color: rgb(173, 173, 173);
  width: 50%;
  text-align: center;
  font-weight: bolder;
}
#contact tr>td:nth-child(2) {
  background-color: rgb(231, 231, 231);
  font-weight: bolder;
  width: 500px;
}
#contact tr>td>p:nth-child(1){
  font-size: 20pt;
  font-weight: bolder;
}