body {
  background-image: url(media/text-1636881418747.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-position-y: 100px;
  margin: 0;
  padding: 0;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  overflow-x: hidden;
}
h1 {
  margin: 2em 0 1.5em 0;
}
/*메뉴바*/
nav {
  margin-top: 300px;
  width: 100%;
  display: flex;
  justify-content: center;
  position: relative;
  background: black;
  z-index: 1;
}
ul, li {
  margin: 0;
  padding: 0;
  list-style: none;
}
#main_menu>li {
  float: left;
  position: relative;
}
#main_menu>li>a {
  font-size: 0.75rem;
  color: aliceblue;
  text-align: center;
  font-weight: bolder;
  text-decoration: none;
  letter-spacing: 0.05em;
  /* 글자 사이 간격 조절 */
  display: block;
  padding: 14px 50px;
  border-right: 1px solid antiquewhite;
}
#main_menu>li:nth-child(1)>a {
  /* 메뉴 사이에 선 추가 */
  border-left: 1px solid antiquewhite;
}
#sub_menu {
  position: absolute;
  font-weight: bolder;
  font-size: 0.75rem;
  background: black;
  opacity: 0;
  visibility: hidden;
  transition: all 0.15s ease-in;
}
#sub_menu>li {
  padding: 16px 50px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
}
#sub_menu>li>a {
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
}
#main_menu>li:hover #sub_menu {
  opacity: 1;
  visibility: visible;
}
#sub_menu>li>a:hover {
  background-color: rgb(66, 66, 66);
  color: antiquewhite;
}
.black_box{
  display: flex;
  justify-content: center;
  background-color: black;
  margin: 20px;
  width: 100%;
}
/* 슬라이드 */
#slide {
  position: relative;
  overflow: hidden;
  width: 500px;
  height: 650px;
  margin: 100px;
}
#slide .cnt>li {
  position: absolute;
  top: 0;
  left: 500px;
  width: 500px;
  height: 650px;
  text-align: center;
  font-size: 30px;
  line-height: 650px;
  color: #fff;
}
#slide .cnt>li>img {
  width: 500px;
  height: 650px;
}
#slide .indi {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
}
#slide .indi:after {
  content: "";
  display: block;
  clear: both;
}
#slide .indi>li {
  float: left;
  margin-left: 5px;
  border-radius: 50%;
  width: 12px;
  height: 12px;
  cursor: pointer;
  opacity: 0.5;
  background-color: #fff;
}
#slide .indi>li.on {
  opacity: 1;
}
#slide .indi>li:first-child {
  margin-left: 0;
}