body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  overflow-x: hidden;
}
h1 {
  margin: 2em 0 1.5em 0;
}

#title{
  margin: 100px;
}
/*예메테이블*/
table{
  padding: 100px;
  width:900px;
  height:400px;
  text-align: center;
}
thead{
  background-color: rgb(59, 59, 59);
  color: antiquewhite;
  height: 40px;
  font-size: 16px;
}
td{
  background-color: rgb(247, 243, 236);
  font-weight: bolder;
  font-size: 14px;

}
#tbl > tr > td > span {
  font-weight: bolder;
  border-radius: 5px;
  padding: 1px 5px 1px 5px;
  background-color: rgb(94, 90, 85);
  color: antiquewhite;
}
/*메뉴바*/
nav {
  width: 100%;
  display: flex;
  justify-content: center;
  position: relative;
  background: black;
  z-index: 1;
}
ul, li {
  margin: 0;
  padding: 0;
  list-style: none;
}
#main_menu>li {
  float: left;
  position: relative;
}
#main_menu>li>a {
  font-size: 0.75rem;
  color: antiquewhite;
  text-align: center;
  font-weight: bolder;
  text-decoration: none;
  letter-spacing: 0.05em;
  /* 글자 사이 간격 조절 */
  display: block;
  padding: 14px 50px;
  border-right: 1px solid antiquewhite;
}
#main_menu>li:nth-child(1)>a {
  /* 메뉴 사이에 선 추가 */
  border-left: 1px solid antiquewhite;
}
#sub_menu {
  position: absolute;
  font-weight: bolder;
  font-size: 0.65rem;
  background: black;
  opacity: 0;
  visibility: hidden;
  transition: all 0.15s ease-in;
}
#sub_menu>li {
  padding: 16px 50px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
}
#sub_menu>li>a {
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
}
#main_menu>li:hover #sub_menu {
  opacity: 1;
  visibility: visible;
}
#sub_menu>li>a:hover {
  background-color: rgb(66, 66, 66);
  color: antiquewhite;
}
