table {
  text-align: center;
  width: 500px;
  height: 200px;
  margin-top: 10px;
}
td {
  border-radius: 10px; 
}
button{
  display: table-cell;
  float: right;
  vertical-align: middle; /* 세로 정렬 */
  color: rgb(201, 201, 201);
  background-color: black;
  border-radius: 10px;
  height: 40px;
  width: 150px;
  font-size: 15pt;
  font-weight: bolder;
  margin: 0 10px 0 0px;
}
.circle {
  border-radius:80px;
  text-align:center;
  font-size:12px;
  vertical-align:middle;
}
#pCircle{
  background-color:#b4f191;
  font-weight: bolder;
}
#imCircle{  
  background-color:#ff6464;
  font-weight: bolder;
}
#screen{
  width: 500px;
  height:80px;
}
.black_box{
  display: table-cell;
  vertical-align: middle; /* 세로 정렬 */
  background-color: black;
  width: 1000px;
  height: 50px;
  color: rgb(201, 201, 201);
  font-weight: bolder;

}
#movieInfo{
  position: relative;
}